.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-self: center;
}

.dashboard-container {
  margin: 0.5rem;
}

.nba-banner {
  display: block;
  height: 175px;
  width: 100%;
}

.prediction-card {
  min-height: 50px;
  background-color: #242c3d;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 10px;
}

.card-header {
  flex-direction: row;
  justify-content: space-between;
}

.header-text {
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
}

.match-card {
  flex-direction: row;
  min-height: 90px;
  background-color: rgb(var(--background-color));
  border-radius: 10px;
  justify-content: space-between;
  padding: 0px 20px;
}

.divider {
  width: 4px;
  background-color: #ff6700;
  border-radius: 25px;
  margin: 10px;
}

.bet-button {
  height: 40px;
  width: 90px;
}

.opponents {
  flex-direction: row;
  width: 60rem;
  gap: 20px;
  justify-content: center;
}

.results {
  flex-direction: row;
  width: 25rem;
  gap: 20px;
}

.history-results {
  flex-direction: row;
  width: 12rem;
  gap: 20px;
}

.home-team {
  width: 30rem;
  justify-content: right;
  gap: 15px;
}

.home-team-history {
  width: 12rem;
  justify-content: right;
  text-align: right;
  gap: 5px;
}

.away-team {
  width: 30rem;
  justify-content: left;
  gap: 15px;
}

.away-team-history {
  width: 12rem;
  justify-content: left;
  text-align: left;
  gap: 5px;
}

.vs {
  width: 5rem;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.percentage {
  position: relative;
  background-color: #242c3d;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.prediction {
  width: 15rem;
}

.mobile-percentage {
  display: none;
}

.history-div {
  column-count: 2;
}

.mb-5 {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .card-header {
    flex-direction: column;
  }

  .header-text {
    font-size: medium;
  }

  .number {
    display: none;
  }

  .match-card {
    flex-direction: column;
  }

  .opponents {
    margin-top: 5px;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }

  .home-team,
  .home-team-history,
  .away-team,
  .away-team-history {
    justify-content: center;
    width: 100%;
  }

  .arrow {
    display: none;
  }

  .vs {
    width: 100%;
  }

  .divider {
    width: 100%;
    margin: 5px;
    height: 3px;
  }

  .results,
  .history-results {
    width: 100%;
    gap: 2px;
    flex-direction: column;
  }

  .bet-button {
    margin-bottom: 5px;
  }

  .prediction {
    text-align: center;
  }

  .mobile-bet-button {
    justify-content: space-evenly;
  }

  .percentage {
    display: none;
  }

  .mobile-percentage {
    display: block;
    position: relative;
    background-color: #242c3d;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .history-card {
    width: calc(100% - 10px);
  }

  .history-div {
    column-count: 1;
  }
}
