.flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.just-flex {
  display: flex;
}
.sm-gap {
  gap: 4px;
}
.relative {
  position: relative;
}
.dashboard-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-inline: 2rem;
}

.nba-banner {
  display: block;
  width: 100%;
}
.dashboard-flex {
  display: flex;
  gap: 1rem;
}
.dashboard-card {
  margin-top: 2rem;
  background: linear-gradient(
      114.25deg,
      #242c3d 21.98%,
      #2a3447 45.28%,
      #242c3d 67.77%
    ),
    linear-gradient(
      215.64deg,
      rgba(255, 255, 255, 0.6) 3.94%,
      rgba(255, 255, 255, 0) 63.74%
    );
  border-radius: 10px;
  padding-bottom: 2.25rem;
}
.card-container {
  padding-inline: 2rem;
  padding-top: 1.5rem;
}
.card-heading {
  margin-bottom: 0.75rem;
  display: inline-block;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding-bottom: 3px;
  border-bottom: #fe6800 solid 2px;
}
.info {
  position: relative;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  display: inline-block;
  background-color: #fe6800;
  padding-inline: 0.375rem;
  padding-block: 0.0625rem;
  border-radius: 999px;
  margin-left: 0.75rem;
}
.info-tip {
  transform: translateX(1rem);
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 20px;
  min-width: 16rem;
  background-color: #fe6800;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  border-radius: 5px;
}
.info:hover .info-tip {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.info-triangle {
  top: 0.4rem;
  right: 16.7rem;
  position: absolute;
}
.game-card {
  margin-top: 1rem;

  border-radius: 10px;
  border: 2px;
  height: 4.875rem;
  background-color: #131927;
}
.game-flex {
  height: 100%;
  display: flex;
  margin-inline: 3.75rem;
  align-items: center;
}
.index {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #8f96a9;
}
.crown {
  margin-right: 4px;
  align-self: center;
  width: 1.125rem;
  height: 0.8125rem;
}
.teams-flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-inline: auto;
}
.vs {
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
.probability {
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  padding-inline: 0.3125rem;
  padding-inline: 0.25rem;
  background-color: #fe6800;
  border-radius: 5px;
}
.triangle {
  position: absolute;
  top: 0.15rem;
  right: 2.2rem;
}
.vertical-line {
  content: " ";
  width: 3px;
  height: 58px;
  border-radius: 99px;
  background-color: #8f96a980;
}
.prediction-flex {
  display: flex;
  min-width: 30%;
  justify-content: space-between;
}
.prediction-text {
  align-self: center;
  margin-left: 1rem;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #8f96a9;
}
.prediction {
  align-self: center;
  margin-left: 0.375rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025em;
}
.bet-btn {
  text-decoration: none;
  background-color: #242c3d;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.375rem;
  border-radius: 5px;
}
.bet-btn:hover {
  cursor: pointer;
}
.bet {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0em;
  color: #8f96a9;
}
.checkbox {
  fill: #8f96a9;
}
.history-card {
  min-width: 49%;
}
.highlight {
  outline: #fe6800 solid 2px;
  border-radius: 10px;
}
.highlight .bet-btn {
  background-color: #fe6800;
}
.highlight .bet {
  color: #fff;
}
.highlight svg {
  fill: #fff;
}
.preferred {
  outline: #fe6800 solid 2px;
  border-radius: 999px;
}
